.Filter {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.FilterItem {
    margin-top: 0.5rem;
}

.FilterGroup {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}