.Navbar {
    display: flex;
    background-color: darkgreen;
    color: whitesmoke;
}

.Navbar-Logo {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    margin: 0px 40px;
}

.Navbar-Item-Container {
    display: flex;
    flex-direction: row;
}

.Navbar-Item {
    display: inline;
    flex: 1;

    margin: 0px 10px;
    padding: 5px;
}

.Navbar-Item:hover {
    opacity: 0.7;
}

.Navbar-Item a {
    text-decoration: none;
    color: whitesmoke;
}