.Randomizer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Randomizer button {
    background-color: green;
    color: black;

    margin: 1rem 0rem;
    padding: 0.5rem;
    font-size: 1.6rem;

    width: 10rem;
}

.Randomizer button:disabled {
    opacity: 0.5;
}

.Randomizer img {
    width: 20rem;
}