.App {
  display: flex;
  flex-direction: column;
}

.Screen {
  min-height: 100vh;
  background-color: #222;
  color: whitesmoke;
}

.filterContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.randomizerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}